---
import MainLayout from "../../layouts/MainLayout.astro";
import * as data from "../../data.json";

export async function getStaticPaths() {
  return data.destinations.map((destination) => {
    return {
      params: { place: destination.name.toLowerCase() },
      props: {
        destination,
        places: data.destinations.map((destination) => destination.name),
      },
    };
  });
}

const { place } = Astro.params;
const { destination, places } = Astro.props;
---

<MainLayout
  destination={true}
  navLinks={places}
  title={`Destinations | ${destination.name}`}
  desktopBg="url(../../assets/destination/background-destination-desktop.jpg)"
  tabletBg="url(../../assets/destination/background-destination-tablet.jpg)"
  mobileBg="url(../../assets/destination/background-destination-mobile.jpg)">
  <h1 slot="heading">Pick your destination</h1>

  <div slot="text">
    <h2 class="fancy-heading">{place}</h2>
    <p>
      {destination.description}
    </p>

    <div class="stats">
      <div class="stats__distance">
        <h3><abbr title="average">Avg.</abbr> Distance</h3>
        <p>{destination.distance}</p>
      </div>
      <div class="starts__travel-time">
        <h3><abbr title="estimated">Est.</abbr> travel time</h3>
        <p>{destination.travel}</p>
      </div>
    </div>
  </div>

  <img src={destination.images.png} alt="" slot="content" />
</MainLayout>
<style>
  h1 {
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 4.72px;
    text-transform: uppercase;
    color: var(--white);
  }

  h1::before {
    content: "01";
    font-weight: 700;
    color: #fff5;
    margin-inline-end: 1.5rem;
  }

  .main-section__text {
    max-width: 60ch;
  }
  .stats {
    border-top: 2px solid #383b4b;
    display: flex;
    justify-content: space-between;
  }

  .stats > * {
    flex: 1 1 0;
    padding-block: 1.5rem;
  }

  .stats p {
    font-family: "Bellefair", serif;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--white);
  }
</style>
