---
import MainLayout from "../../layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
import * as data from "../../data.json";

export const getStaticPaths = (() => {
  const destinations = data.destinations;

  return destinations.map((destination) => {
    return {
      params: { placeName: destination.name.toLowerCase() },
      props: {
        destination,
        navLinks: data.destinations.map((destination) => destination.name),
      },
    };
  });
}) satisfies GetStaticPaths;

const desktopBg = "../../assets/destination/background-destination-desktop.jpg";
const tabletBg = "../../assets/destination/background-destination-tablet.jpg ";
const mobileBg = "../../assets/destination/background-destination-mobile.jpg ";

const { placeName } = Astro.params;
const { destination, navLinks } = Astro.props;
---

<MainLayout
  destination={true}
  {navLinks}
  title={`Destinations | ${destination.name}`}
  desktopBg={`url(${desktopBg})`}
  tabletBg={`url(${tabletBg})`}
  mobileBg={`url(${mobileBg})`}>
  <h1 slot="heading">Pick your destination</h1>

  <h2 slot="text" class="fancy-heading">{destination.name}</h2>
  <p slot="text">
    {destination.description}
  </p>

  <div slot="text" class="stats">
    <div class="stats__distance">
      <h3><abbr title="average">Avg.</abbr> Distance</h3>
      <p>{destination.distance}</p>
    </div>
    <div class="starts__travel-time">
      <h3><abbr title="estimated">Est.</abbr> travel time</h3>
      <p>{destination.travel}</p>
    </div>
  </div>
  <img src={destination.images.png} alt="" slot="content" />
</MainLayout>

<style>
  h1::before {
    content: "01";
  }

  .stats {
    border-top: 2px solid #383b4b;
    display: flex;
    justify-content: space-between;
  }

  .stats > * {
    flex: 1 1 0;
    padding-block: 1.5rem;
  }

  .stats p {
    font-family: "Bellefair", serif;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--white);
  }
</style>
