---
import MainLayout from "../layouts/MainLayout.astro";
import * as data from "../data.json";
const title = "Crew";

const desktopBg = "../../assets/crew/background-crew-desktop.jpg";
const tabletBg = "../../assets/crew/background-crew-desktop.jpg";
const mobileBg = "../../assets/crew/background-crew-desktop.jpg";
---

<MainLayout
  crew={true}
  title={title}
  navLinks={data.crew}
  desktopBg={`url(${desktopBg})`}
  tabletBg={`url(${tabletBg})`}
  mobileBg={`url(${mobileBg})`}>
  <h1 slot="heading">Meet your crew</h1>

  <div slot="text" class="heading">
    <h2 class="fancy-heading">Douglas Hurley</h2>
    <h3 class="fancy-heading">Commander</h3>
  </div>

  <p slot="text">
    Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and
    former NASA astronaut. He launched into space for the third time as
    commander of Crew Dragon Demo-2.
  </p>

  <div slot="content">
    <img src="../../assets/crew/image-douglas-hurley.webp" alt="" />
  </div>
</MainLayout>

<style>
  .main-section__content {
    align-self: end;
  }

  .main-section__nav {
    justify-self: start;
  }

  .main-section a.active {
    background: var(--white);
  }

  .heading {
    display: flex;
    flex-direction: column;
  }

  h2.fancy-heading {
    font-size: 56px;
  }

  h3.fancy-heading {
    order: -1;
    font-size: 32px;
    font-family: "Bellefair", serif;
    color: #ddda;
  }
</style>
