---
import MainLayout from "../../layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
import * as data from "../../data.json";
import { slugify } from "../../scripts/slugify.js";

export const getStaticPaths = (() => {
  const crewMembers = data.crew;

  return crewMembers.map((crewMember) => {
    return {
      params: { crewName: slugify(crewMember.name) },
      props: {
        crewMember,
        navLinks: crewMembers.map((crewMember) => crewMember.name),
      },
    };
  });
}) satisfies GetStaticPaths;

const desktopBg = "../../assets/crew/background-crew-desktop.jpg";
const tabletBg = "../../assets/crew/background-crew-desktop.jpg";
const mobileBg = "../../assets/crew/background-crew-desktop.jpg";

const { crewName } = Astro.params;
const { crewMember, navLinks } = Astro.props;

const title = "njing";
---

<MainLayout
  crew={true}
  title={title}
  {navLinks}
  desktopBg={`url(${desktopBg})`}
  tabletBg={`url(${tabletBg})`}
  mobileBg={`url(${mobileBg})`}>
  <h1 slot="heading">Meet your crew</h1>

  <div slot="text" class="heading">
    <h2 class="fancy-heading">{crewMember.name}</h2>
    <h3 class="fancy-heading">{crewMember.role}</h3>
  </div>

  <p slot="text">
    {crewMember.bio}
  </p>

  <div slot="content">
    <img src={crewMember.images.webp} alt={crewMember.name} />
  </div>
</MainLayout>

<style>
  h1::before {
    content: "02";
  }

  .heading {
    display: flex;
    flex-direction: column;
  }

  h2.fancy-heading {
    font-size: 56px;
  }

  h3.fancy-heading {
    order: -1;
    font-size: 32px;
    font-family: "Bellefair", serif;
    color: #ddda;
  }
</style>
