---
import MainLayout from "../../layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
import * as data from "../../data.json";
import { slugify } from "../../scripts/slugify.js";

export const getStaticPaths = (() => {
  return data.crew.map((individual) => {
    return {
      params: { crew: slugify(individual.name) },
      props: { individual },
    };
  });
}) satisfies GetStaticPaths;

const { crew } = Astro.params;
const { individual } = Astro.props;

const desktopBg = "../../assets/crew/background-crew-desktop.jpg";
const tabletBg = "../../assets/crew/background-crew-desktop.jpg";
const mobileBg = "../../assets/crew/background-crew-desktop.jpg";
const title = "njing";
---

<MainLayout
  crew={true}
  title={title}
  navLinks={data.crew.map((individual) => individual.name)}
  desktopBg={`url(${desktopBg})`}
  tabletBg={`url(${tabletBg})`}
  mobileBg={`url(${mobileBg})`}>
  <h1 slot="heading">Meet your crew</h1>

  <div slot="text" class="heading">
    <h2 class="fancy-heading">{individual.name}</h2>
    <h3 class="fancy-heading">{individual.role}</h3>
  </div>

  <p slot="text">
    {individual.bio}
  </p>

  <div slot="content">
    <img src={individual.images.webp} alt={individual.name} />
  </div>
</MainLayout>

<style>
  .main-section__content {
    align-self: end;
  }

  .main-section__nav {
    justify-self: start;
  }

  .main-section a.active {
    background: var(--white);
  }

  .heading {
    display: flex;
    flex-direction: column;
  }

  h2.fancy-heading {
    font-size: 56px;
  }

  h3.fancy-heading {
    order: -1;
    font-size: 32px;
    font-family: "Bellefair", serif;
    color: #ddda;
  }
</style>
