---
import BaseLayout from "./BaseLayout.astro";
import { slugify } from "../scripts/slugify.js";
const {
  title,
  desktopBg,
  tabletBg,
  mobileBg,
  hero = false,
  destination = false,
  crew = false,
  technology = false,
  navLinks,
} = Astro.props;
---

<BaseLayout title={title}>
  <main
    class:list={[
      { hero: hero },
      { destination: destination },
      { crew: crew },
      { technology: technology },
    ]}>
    {
      !hero && (
        <div class="heading">
          <slot name="heading" />
        </div>
      )
    }

    <section class="main-section">
      <nav class="main-section__nav">
        {
          destination && (
            <ul>
              {navLinks.map((navLink: string) => (
                <li>
                  <a href={navLink.toLowerCase()}>{navLink}</a>
                </li>
              ))}
            </ul>
          )
        }
        {
          crew && (
            <ul>
              {navLinks.map((navLink: string) => (
                <li>
                  <a href={slugify(navLink)}>
                    <span class="sr-only">{navLink}</span>
                  </a>
                </li>
              ))}
            </ul>
          )
        }
        {
          technology && (
            <ul>
              {navLinks.map((navLink: string, index: number) => (
                <li>
                  <a href={slugify(navLink)}>{index + 1}</a>
                </li>
              ))}
            </ul>
          )
        }
      </nav>

      <div class="main-section__text">
        <slot name="text" />
      </div>
      <div class="main-section__content">
        <slot name="content" />
      </div>
    </section>
  </main>
</BaseLayout>

<style define:vars={{ desktopBg, tabletBg, mobileBg }} lang="scss">
  main {
    padding-block: 8rem 0;
    min-height: 100vh;

    background-image: var(--desktopBg);
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(12, 1fr);

    @media screen and (max-width: 60em) {
      background-image: var(--tabletBg);
      padding-block: 4rem 0;
      text-align: center;
    }

    @media screen and (max-width: 50em) {
      background-image: var(--mobileBg);
    }
  }

  .heading {
    padding-block: 3rem;
    grid-column: 2 / span 10;

    position: sticky;
    top: 0;

    @media screen and (max-width: 60em) {
      grid-column: 1 / span 13;
      padding-inline: 2rem;
      text-align: left;
    }
  }

  .main-section {
    color: var(--accent);
    grid-column: 2 / span 10;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;

    @media screen and (max-width: 60em) {
      text-align: center;

      &__content img {
        max-width: 300px;
      }
    }

    &__nav ul {
      margin: 0;
      padding: 0;
      list-style: none;

      display: flex;
      grid-area: nav;

      a {
        display: inline-block;
        padding: 1rem;
        font-family: "Barlow Condensed", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2.7px;
        color: inherit;
        text-decoration: none;
      }
    }

    &__text {
      grid-area: text;
    }

    &__content {
      grid-area: content;
      @media screen and (max-width: 60em) {
        max-width: 300px;
      }
    }
  }

  .hero {
    padding: 0;

    .main-section {
      padding-block-end: 3rem;
      min-height: 100vh;

      display: flex;
      align-items: end;
      justify-content: space-between;
      gap: 2rem;

      &__nav {
        display: none;
      }

      @media screen and (max-width: 60em) {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .destination .main-section {
    padding-block-end: 6rem;

    grid-template-areas:
      "content nav"
      "content text";
    grid-template-rows: auto 1fr;

    &__nav {
      justify-self: start;
    }

    &__content {
      justify-self: start;
    }

    @media screen and (max-width: 60em) {
      padding-block: unset;

      grid-template-areas:
        "content"
        "nav"
        "text";
      grid-template-columns: 1fr;
      gap: unset;

      .main-section__nav,
      .main-section__content {
        justify-self: unset;
      }
    }
  }

  .crew .main-section {
    grid-template-areas:
      "text content"
      "nav content";

    &__nav {
      justify-self: start;
      ul {
        justify-content: center;
        gap: 2rem;
      }
    }

    &__nav a {
      display: inline-block;
      padding: 0.5rem;
      aspect-ratio: 1 /1;
      background: #fff2;
      border-radius: 50%;
    }

    &__content {
      align-self: end;
    }

    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    @media screen and (max-width: 60em) {
      grid-template-areas:
        "text "
        "nav "
        "content ";
      grid-template-columns: 1fr;
      justify-items: center;

      &__nav {
        justify-self: unset;
      }
    }
  }

  .technology .main-section {
    grid-column: 2 / span 13;
    grid-template-columns: auto 50ch auto;
    grid-template-areas: "nav text content";
    gap: 4rem;

    &__nav ul {
      flex-direction: column;
      gap: 2rem;

      a {
        outline: 2px solid;
        border-radius: 50%;
        font-family: "Bellefair", sans-serif;
        padding: 1rem;
        aspect-ratio: 1/1;
        width: 4rem;
        text-align: center;
        font-size: 1.3rem;

        display: inline-block;
      }

      @media screen and (max-width: 60em) {
        flex-direction: row;
      }
    }

    &__text {
      max-width: 50ch;
      margin-inline: auto;
    }

    &__content {
      justify-self: end;

      @media screen and (max-width: 60em) {
        min-width: 100%;
        justify-self: unset;
      }
    }

    @media screen and (max-width: 60em) {
      grid-column: 1 / -1;
      grid-template-columns: unset;
      grid-template-areas:
        "content"
        "nav"
        "text";
    }
  }
</style>
